<form class="playlist-settings" [formGroup]=form>
  @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <div class="playlist-settings__item_1-2">
    <mat-form-field>
      <mat-label>Начало работы</mat-label>
      <input
        matInput
        readonly
        placeholder="00:00"
        formControlName="start"
        [format]=format
        [ngxMatTimepicker]="pickerStart"
      />
      <ngx-mat-timepicker color="primary" #pickerStart/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Окончание работы</mat-label>
      <input
        matInput
        readonly
        placeholder="00:00"
        formControlName="end"
        [format]=format
        [ngxMatTimepicker]="pickerEnd"
      />
      <ngx-mat-timepicker color="primary" #pickerEnd/>
    </mat-form-field>
  </div>
  <div
    formArrayName="media"
    cdkDropList
    class="playlist-settings__items"
    (cdkDropListDropped)="drop($event)">
    <playlist-item
      *ngFor="let item of media.controls; index as i"
      class="playlist-settings__media-item"
      cdkDrag
      [formControlName]="i"
      (cdkDropListDropped)="drop($event)"
      (deleteItem)="deleteItem(i)">
    </playlist-item>
  </div>
</form>
