:host {
  position: relative;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(30px) brightness(0.5);
    -webkit-filter: blur(30px) brightness(0.5);
    -moz-filter: blur(30px) brightness(0.5);
    -o-filter: blur(30px) brightness(0.5);
    -ms-filter: blur(30px) brightness(0.5);
    transform: scale(1.1);
    z-index: 0;
  }

  .wrapper-post {
    display: flex;
    justify-content: end;
    height: 100%;
    position: relative;
    margin-top: -22px;
  }

  .post-content {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .post__image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-image {
    height: 100%;
    object-fit: contain;
  }

  .post-video {
    position: relative;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .marquee {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 65px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    background: #A6A6A6;
    opacity: .6;
    color: #fff;
    font-size: 16px;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: var(--color-marquee);
  }

  .marquee-text {
    display: inline-block;
    height: 100%;
    padding-left: 100%;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  .newspaper__description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: var(--font-size-x10);
    font-weight: 700;
    text-transform: uppercase;
  }

  .none-animation {
    animation: none;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  .marquee-content {
    opacity: 1;
  }
}
