@import './src/assets/style/variables';

:host {
  height: 100vh;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    padding: 8px;
    background-color: $color-body;

    mat-tab-group {
      flex: 1;
      max-height: calc(100% - 60px);
    }

    ::ng-deep .mat-mdc-tab-body-wrapper {
      height: 100%;
    }

    .playlist-footer {
      display: flex;

      button {
        flex: 1;
        min-height: 48px;
        margin: 4px;
      }
    }
  }
}
