<form [formGroup]=form (submit)="saveForm()">
  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Настройки плейлиста">
      <playlist-settings formControlName="playlistSettings"></playlist-settings>
    </mat-tab>
    <mat-tab label="Настройки плеера" >
      <player-settings formControlName="playerSettings"></player-settings>
    </mat-tab>
  </mat-tab-group>

  <div class="playlist-footer">
    <button
      mat-stroked-button
      *ngIf="isVisibleMediaButton"
      type="button"
      (click)="addPlaylistMedia()">
      Добавить медиа объект
    </button>
    <button
      mat-raised-button
      color="primary"
      class="save-button">
      Сохранить и закрыть
    </button>
  </div>
</form>
