.background-overlay {
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.background-overlay video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-overlay img,
.background-overlay video {
  width: 100%;
  height: 100%;
}
