@if (currentMedia()) {
  @if (!isOnline()) {
    <div class="no-home-connect">
      <div>Отсутствует соединение</div>
    </div>
  }

  @switch (currentMedia()?.objectType) {
    @case ('hls-stream') {
      <hls-media-object [currentMedia]="currentMedia()" />
    }
    @case ('slot') {
      <slot-media-object
        [showNextEntity]="showNextEntity()"
        [currentMedia]="currentMedia()"
        [playerSettings]="playerConfig()?.playerSettings ?? null"
      />
    }
    @case ('image') {
      <single-image-media-object [currentMedia]="currentMedia()" />
    }
    @case ('video') {
      <single-video-media-object
        [currentMedia]="currentMedia()"
        (videoDurationChanged)="changeDurationMediaObject($event)"
      />
    }
  }
} @else {
  <div class="sleep-block">
    @if (!isOnline()) {
      <div class="no-home-connect">
        <div>Отсутствует соединение</div>
      </div>
    }
  </div>
}

