@let media = currentMedia();
@let playerId = player()?.id;
@let online = isOnline();

@if (media && playerId) {
  @if (!online) {
  <div class="no-home-connect">
    <div>Отсутствует соединение</div>
  </div>
  }

  @switch (media.type) {
    @case ('stream') {
      <hls-media-object [currentMedia]="media" />
    }
    @case ('newspaper') {
       <newspaper-media-object
          [currentMedia]="media"
          [playerId]="playerId"
       />
    }
    @case ('image') {
      <single-image-media-object [currentMedia]="media" />
    }
    @case ('video') {
      <single-video-media-object
        [currentMedia]="media"
        (videoDurationChanged)="changeDurationMediaObject($event)"
      />
    }
  }
} @else {
  <div class="sleep-block">
    @if (!online) {
      <div class="no-home-connect">
        <div>Отсутствует соединение</div>
      </div>
    }
  </div>
}
