<div class="background-overlay__title-wrapper">
  <div
    #channel
    [style.fontSize]="fontSize+'px'"
    class="background-overlay__channel"
  >
    {{widgetName()}}
  </div>
</div>

<img [src]="backgroundAnimationLogo() | async" class="background-overlay__logo" />
  @if (qrCode()){
    <div
      class="background-overlay__qr-wrapper"
      [style.margin-bottom.px]="params().marqueeHeight"
    >
    <qrcode
      class="background-overlay__qr"
      [qrdata]="qrCode()!"
      [width]="qrWidth()"
      [errorCorrectionLevel]="'M'"
    >
    </qrcode>
    </div>
  }
