:host {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 1vh 0 0 0;
  z-index: 1;

  .background-overlay__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    color: var(--color-white);
  }

  .background-overlay__logo {
    position: relative;
    top: 0;
    margin: 0 auto;
    animation: logo 10s infinite;
  }

  .background-overlay__qr-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--gap-x3);
  }

  .background-overlay__qr ::ng-deep canvas {
    border-radius: var(--border-radius-x2);
  }

  .background-overlay__qr {
    animation: element-out 10s infinite forwards;
  }

  .background-overlay__title-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--color-white);
    text-align: center;
  }

  .background-overlay__title {
    padding-bottom: var(--gap-x4);
    font-size: 38px;
    font-weight: 500;
  }

  .background-overlay__channel {
    width: 100%;
    padding: var(--gap-x4);
    letter-spacing: 4px;
    animation: element-in 10s infinite forwards;
    margin-right: var(--gap-x3);
    font-size: 56px;
    font-weight: bold;
    line-height: 100%;
  }

  .background-overlay__wrapper::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 66px;
    width: calc((100% - 300px) / 2 + 18px);
    opacity: .7;
  }

  .background-overlay__wrapper::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 66px;
    width: calc((100% - 300px) / 2 + 18px);
    opacity: .7;
  }

  @keyframes logo {
    0%, 30% {
      transform: none;
      height: 20%;
    }
    35%, 65% {
      transform: translateY(40%);
      height: 30%;
    }
    70%, 100% {
      transform: none;
      height: 20%;
    }
  }

  @keyframes move {
    0% {
      top: 73%;
    }
    50% {
      top: 71%;
    }
    100% {
      top: 73%;
    }
  }

  @keyframes element-out {
    20%, 30% {
      opacity: 1;
    }
    35%, 65% {
      opacity: 0;
    }
    70%, 100% {
      opacity: 1;
    }
  }

  @keyframes element-in {
    0%, 30% {
      opacity: 0;
    }
    40%, 65% {
      opacity: 1;
    }
    70%, 100% {
      opacity: 0;
    }
  }
}
