<canvas #postCanvas class="post-background"></canvas>

@if (slotConfig?.backgroundType === 'animation') {
  <animation-background [backgroundConfig]="slotConfig" />
} @else {
  <simple-background [backgroundConfig]="slotConfig" />
}

<div class="wrapper-post"
  [style.width.px]="slotManifest?.size?.width ?? 0"
  [style.height.px]="slotManifest?.size?.height ?? 0"
  [style.top.px]="slotManifest?.position?.top ?? 0"
  [style.left.px]="slotManifest?.position?.left ?? 0"
>
  @if (mediaBlockInPost()?.data?.carousel[0]) {
    <img
      #postImage
      class="post-image"
      [src]="mediaBlockInPost()?.data?.carousel[0]"
      [class.fit_into_screen]="slotConfig?.fitIntoScreen || false"
      (load)="onLoadPostImage()"
    />
  }

  @if (mediaBlockInPost()?.data?.src) {
    <video
      #postVideo
      autoplay
      muted
      loop
      preload="metadata"
      class="post-video"
      [src]="mediaBlockInPost()?.data?.src"
      [class.fit_into_screen]="slotConfig?.fitIntoScreen || false"
      (loadeddata)="onLoadPostVideo()"
    ></video>
  }

  @if (slotConfig?.marquee && isStartOver()) {
    <div
      #marqueeContainer
      class="marquee"
      [style.height.px]="slotConfig?.marqueeHeight ?? defaultMarqueeHeight"
      [class.marquee__news]="slotConfig?.rubric === 'news'"
      [class.marquee__photo]="slotConfig?.rubric === 'photo'"
      [class.marquee__events]="slotConfig?.rubric === 'events'"
      [class.marquee__ads]="slotConfig?.rubric === 'ads'"
      [class.marquee__theme-day]="slotConfig?.rubric === 'theme-day'">
      <div
        #marqueeTextContainer
        class="marquee-text marquee-text__animation"
        [style.animationDuration.s]="marqueeSpeed"
        [style.fontSize.px]="marqueeFontSize"
      >
        {{marqueeText}}
      </div>
    </div>
  }
</div>
